<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpu.sportsmeet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Sports Meet Manager"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Games.RegistrationTT"></activity>

        <activity android:name=".Games.BDM"
            android:label="Badminton"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Games.RegistrationBDM"
                    android:label="Badminton Registration"></activity>
        <activity android:name=".Games.VB"
            android:label="Volleyball"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".Games.RegistrationVB"
            android:label="Volleyball Registration"></activity>
        <activity
            android:name=".Games.TT"
            android:label="@string/title_activity_tt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dash.MainMenu"
            android:label="@string/title_activity_main_menu" />
        <activity android:name=".Login.ForgotPassword" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Login.SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>